<h1>Data Science Tools and Ecosystem</h1>

<h2><b></b>Author<b></b></h2>
Brandan

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Learn how to create headers in markdown
- List commonly used libraries for Data Science
- List some open-source data science tools
- Learn how to do arithmetic expressions in python and display the results

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-Learn

| Data Science Tools |
| --------------------- |
| Apache Spark |
| Apache Hadoop |
| RStudio |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335